.container{
    margin-top:10px;
    text-align: center;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
    height:620px;
}
.imagenes{
   
    margin: auto;
    display: block;
    text-align: center; 
    margin:10px;
    height: 20px;
    width: 40px;

}

.text{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;

}